%align-center{ // extend etmemize yarayacak.Yani sıkça kullanılan kodlarn
    // tekrarından kacınıp tek bir yerden değişken gibi kullanabilecegiz.
    display: flex;
    align-items: center;
    justify-content: center;
}